body{
	background: #F3F5F8;
}
.content{
	height: 520px;
	background: /*red*/;
}

.col1, .col2{
	width: 362px;
	height: 520px;
	background: /*blue*/;
	display: inline-block;
	margin-right: 27px;
}

.col3{
	width: 362px;
	height: 520px;
	background: /*blue*/;
	display: inline-block;
}

.img1{
	width: 362px;
	height: 222px;
	margin-left: -15px;
}

.border{
	content: " ";
	width: 35px;
	border: solid 2px #3dc9b3;
	display: block;
	margin: 25px auto;
}

h4{
	font-weight: bolder;
    text-align: center;
    box-sizing: border-box;
    padding-top: 35px;
    color: black;
}

.text{
	/*background: orange;*/
	width: 335px;
	height: 220px;
	/*margin-left: -15px;*/
}


span{
	box-sizing: border-box;
	padding-left: 50px;
	color: #8C9398;
}

.ignite{
	background: #242830;
	padding: 70px 0;
}

.ignite-btn{
	display: inline-block;
    padding: 25px 40px;
    color: #fff;
    border: solid 1px #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 41%;
}

.ignite-btn:hover{
	border: solid 1px #3DC9B3;
	color: #3DC9B3;
	text-decoration: none;
	transition: 1s;
}

h1.arrow{
	background: url(../images/h1-bg.png) no-repeat center bottom;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 30px; 
    color: #353535;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content2{
	height: 675px;
	background: /*black*/;
}

.col4, .col5{
	width: 362px;
	height: 675px;
	background: /*blue*/;
	display: inline-block;
	margin-right: 26.8px;
}

.col6{
	width: 362px;
	height: 675px;
	background: /*blue*/;
}

.img2{
	margin:70px 68px;
}

h2{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

ul{
    position: absolute;
    left: 60px;
    margin-top: 35px;
}

li{
	list-style-type: none;
	display: inline-block;
	margin-left: 10px;
}

.social-btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #252931;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 17px;
	list-style-type: none;
	color: white;
}

.fab, .fas,{
	color: white;
	padding-left: 1px;
}

.social-btn:hover{
	background: #3EC9B3;
	transition: 1s;
}

.subscribe{
	height: 445px;
	background: url(../images/keyboard-bg.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
    padding: 120px 0 140px;
}

.subscribe, .h_1, .spn{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	display: inherit;
	margin-bottom: 20px;
}

.fa{
	margin-bottom: 20px;
	font-size: 30px;
}

form{
	height: 100px;
}

.input1{
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px #fff;
    padding: 20px;
    width: 30%;
    color: #fff;
}

.input2{
	background: rgba(61, 201, 179, 0.5);
    border: solid 1px rgba(61, 201, 179, 0.5);
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.input2:hover{
	background: #3DC9B3;
}

.top{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: rgba(61, 201, 179, 0.5);
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 87px;
    transition: all 0.5s ease;
  }

  .top:hover{
  	background: #3DC9B3; 
  	color: white;
  }

.che{
    font-size: 18px;
    text-align: center;
    padding: 15px;
}

.footer{
	height: 640px;
	background: /*black*/;
}

h1.arrow2{
	background: url(../images/h1-bg.png) no-repeat center bottom;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 30px; 
    color: #353535;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 75px;
}

.col7, .col8{
	width: 32%;
	/*width: 362px;*/
	height: 509px;
	background: /*blue*/;
	display: inline-block;
	margin-right: 26.7px;
}

.col9{
	width: 32%;
	height: 509px;
	background: /*blue*/;
}

.box1{
	background: white;
	width: 350px;
	height: 205px;
	background: /*red*/;
	margin: 90px 22px;
	transition: all 0.7s ease;
}

.box1:hover{
	margin:70px 22px;
	border-bottom: 4px solid #3DC9B3;
}

.boxText{
	color: #3DC9B3;
}
.map{
	margin-top: 30px;
	color: #353535;
	font-size: 25px;
	margin-bottom: 20px;
}
p{
	text-align: center;
}

.upUl{
	position: absolute;
    left: 100px;
    margin-top: 35px;
}

.fCol{
	height: 130px;
	background: #242830;
}

.leftt{
	float: left;
	margin-top: 60px;
}

.rightt{
	float: right;
	margin-top: 60px;
}